
/*Page styles*/
body {
    background-color: #d1dfd1; 
}

/*Navbar styles*/
.custom-navbar {
    background-color: #3F4749;
    padding-bottom: 1rem; 
}

/* Make Navbar hamburger white */
.navbar-toggler {
    border-color: #fff;
}
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler:focus {
    outline: 1px solid #fff !important;   /* White outline */
    box-shadow: 0 0 0 0.2rem #fff !important; /* Optional: white glow */
    border-color: #fff !important;        /* White border */
}

.navbar-brand {
    color: #dfdede !important; 
    padding-left: 1rem;
}

.navbar-nav .nav-link {
    color: #dfdede !important;
}

/*Jumbotron styles*/

.oswald-font {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.jumbotron {
    background: url('../images/group14bs.jpeg') center 0px/cover no-repeat;
    color: #fff;
    padding: 4rem 2rem;
    border-radius: 1rem;
    position: relative;
    min-height: 750px;
}

.jumbotron .bg-overlay {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(141, 141, 141, 0.1); 
    border-radius: 1rem;
    z-index: 1;
}

.jumbotron .content {
    position: relative;
    z-index: 2;
    padding-left: 0rem;
}

.jumbotron .content h1 {
    font-size: 5rem;
    display: inline-block;  /* border constrained to text width */
    border-radius: 0.5rem;           
    padding-top: 1rem;
    padding-right: 2rem;  
    padding-bottom: 1.5rem;
    padding-left: 2rem;   
    background: rgba(63, 71, 73, 0.2); /* Background */
}

@media (max-width: 575.98px) {
  .jumbotron .content h1 {
    font-size: 3.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.jumbotron .content p {
    font-size: 2.6rem;
    font-family: "Oswald", sans-serif;
}

.jumbotron .content,
.jumbotron .content h1,
.jumbotron .content p {
    color: rgba(255, 255, 255, 0.65); /* opacity */
}

.jumbotron-bottom-line {
    width: 100%;
    height: 1px; 
    background: #3F4749; 
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 0 0 1rem 1rem; 
    z-index: 3;
}

/*Text section styles*/

h4, h5, h6 {
    font-family: "Oswald", sans-serif;
}

hr {
    border: none;
    height: 1px; /* or 1px */
    background-color: #22223b; 
    opacity: 0.5; 
}

.list-group-item {
    background-color: transparent;
    border: none;
}

.list-group-item a {
    font-family: "Oswald", sans-serif;
    color: #22223b !important;
    font-weight: 600;
}

.list-group-item a:hover {
    color: #646464 !important; 
}

/* Aside or what-is boxout */
section[aria-labelledby="importance-of-d&i"] aside {
    margin-top: 3rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

#whatis-boxout {
    margin-top: 2.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 2.5rem;
}

@media (max-width: 991.98px) {
  section[aria-labelledby="importance-of-d&i"] aside {
    margin-top: 0rem; /* or 0, or whatever looks best */
  }
}

section[aria-labelledby="importance-of-d&i"] .col-md-9 {
    text-align: justify;
    padding-left: 2rem; /* Add extra white space on the left */
    padding-right: 2rem;  /*Add extra white space on the right */
    padding-top: 3rem;  /*Add extra white space at the top */
    padding-bottom: 0rem;
}

#whatis-boxout {
    padding-left: 2rem; 
    padding-right: 2rem; 
    padding-top: 1rem;
    padding-bottom: 0rem;
    background-color: #ffecc7; 
    border: 1px solid #7e7e7e;
    border-radius: 0.5rem;    
}

#sign-up {
    padding-left: 2rem; 
    padding-right: 2rem; 
    padding-top: 2rem;
    padding-bottom: 1rem;
}

#sign-up {
    margin-top: 3rem;
}

@media (max-width: 991.98px) {
  #sign-up {
    padding-top: 1rem;    /* Reduce top padding */
    padding-bottom: 2rem; /* Increase bottom padding */
    margin-top: 0rem;   /* Optional: reduce margin above */
    margin-bottom: 2rem;  /* Optional: add more space below */
  }
}

section[aria-labelledby="benefits-of-d&i"] .col-md-9 {
    text-align: justify;
    padding-left: 2rem; /* Add extra white space on the left */
    padding-right: 2rem;  /*Add extra white space on the right */
    padding-top: 2rem;  /*Add extra white space at the top */
    padding-bottom: 1rem;
}

section[aria-labelledby="bigger-talent-pool"] .col-12 {
    text-align: justify;
    padding-left: 2rem; /* Add extra white space on the left */
    padding-right: 2rem; /*Add extra white space on the right */
    padding-top: 0rem;  /*Add extra white space at the top */
}

section[aria-labelledby="increased-employee-engagement"] .col-12 {
    text-align: justify;
    padding-left: 2rem; /* Add extra white space on the left */
    padding-right: 2rem; /*Add extra white space on the right */
    padding-top: 0.5rem;  /*Add extra white space at the top */
}

section[aria-labelledby="new-perspectives-and-innovation"] .col-12 {
    text-align: justify;
    padding-left: 2rem; /* Add extra white space on the left */
    padding-right: 2rem; /*Add extra white space on the right */
    padding-top: 0.5rem;  /*Add extra white space at the top */
}

section[aria-labelledby="improved-performance"] .col-12 {
    text-align: justify;
    padding-left: 2rem; /* Add extra white space on the left */
    padding-right: 2rem; /*Add extra white space on the right */
    padding-top: 0.5rem;  /*Add extra white space at the top */
}

section[aria-labelledby="stronger-business-results-and-profits"] .col-12 {
    text-align: justify;
    padding-left: 2rem; /* Add extra white space on the left */
    padding-right: 2rem; /*Add extra white space on the right */
    padding-top: 0.5rem;  /*Add extra white space at the top */
}

section[aria-labelledby="implementing-pool"] .col-12 {
    text-align: justify;
    padding-left: 2rem; /* Add extra white space on the left */
    padding-right: 2rem; /*Add extra white space on the right */
    padding-top: 2rem;  /*Add extra white space at the top */
}

section[aria-labelledby="challenges-to-d&i"] .col-md-12 {
    text-align: justify;
    padding-left: 2rem; /* Add extra white space on the left */
    padding-right: 2rem; /*Add extra white space on the right */
    padding-top: 2rem;  /*Add extra white space at the top */
}

.roboto-flex {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}

p {
    font-family: "Roboto Flex", "Roboto", Arial, sans-serif;
}

section[aria-labelledby="implementing-pool"] ul {
    font-family: "Roboto Flex", "Roboto", Arial, sans-serif;
}

/*Bootstrap Card styles*/
.card {
    background-color: #ffecc7; 
    border: 1px solid #7e7e7e;
    text-align: justify
}

.card {
    min-width: 180px;
}

.cards-row-padding {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
}

/*Footer styles*/
.custom-footer {
    background-color: #3F4749; 
}

.footer-brand {
    color: #adadad !important; 
}