.jumbotron {
    background: url('../images/group1.jpeg') center center/cover no-repeat;
    color: #fff;
    padding: 4rem 2rem;
    border-radius: 1rem;
    position: relative;
    min-height: 600px;
}

.jumbotron .bg-overlay {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(141, 141, 141, 0.1); */
    border-radius: 1rem;
    z-index: 1;
}
.jumbotron .content {
    position: relative;
    z-index: 2;